.login-form {
  max-width: 530px;
  width: 100%;
  margin: 0 auto;
  float: none
}
.mt-30 {
  margin-top: -30px !important;
}
.panel-heading {
  background-color: #91a0ad !important;
  color: white !important;
  margin-top: 30px;
}
