.login-form {
  max-width: 530px;
  width: 100%;
  margin: 0 auto;
  float: none
}
.mt-30 {
  margin-top: -30px !important;
}
.panel-heading {
  background-color: #91a0ad !important;
  color: white !important;
  margin-top: 30px;
}
.image_logo {
  width: 100px;
  height: 100px;
}
.add_app {
  text-align: center;
}
.fcenter {
  width: 50%;
  margin-left: 25% !important;
}